.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating input {
    display: none;
}

.rating label {
    font-size:2.5rem;
    color: lightgrey;
}

.rating input:checked ~ label {
    color: gold;
}