@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat';
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 375px;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

header {
    flex: 0 100px;
}

main {
    flex: 1 calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

footer {
    flex: 0 30px;
    background: lightgreen;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

nav {
    background-color: lightgreen;
}

.navbar-brand {
    display: flex;
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
    padding: 0 0.3em;
}

footer a {
    float: right;
}