@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family:'Montserrat';
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

@media (max-height: 700px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
}

header {
    flex: 0 80px;
    background: hsl(223, 57%, 38%);
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
}

footer {
    flex: 0 30px;
    background: hsl(223, 57%, 38%);
}