#bookshelf {
    background-color: burlywood;
    width: 300px;
}

.row {
    border-bottom: thick brown solid;
    height: 70px;
}

.book {
    height: 60px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.spine {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    text-decoration: none;
    color: white;
}

.book:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}